* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    color: #040113;
}

header {
    background-color: #444;
    color: white;
    padding: 1em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
    padding: 1em;
    max-width: 1200px;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 1em;
}
