/* Larger Views ******************************/
@media (min-width: 640px) {
    header { /* Targeting the header directly */
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
}